body{
    background-color: rgb(9, 10, 21);
}
.header{
    margin-top: 69px;
}
.headerTitles{
    display:flex ;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
color: rgb(199, 200, 205);

}
.headerTitleSm{
    position: absolute;
    top:42%;
font-size: 20px;
}

.headerTitleLg{
    position: absolute;
    top:20%;
font-size: 70px;
}

.headerTitleMd{
    position: absolute;
    top:25%;
font-size: 40px;
}
.headerImage{
    width: 100%;
    height: 580px;
    margin-top: 0px;
    object-fit: cover ;
}