.top{
    width: 100%;
    height: 50px;
    background-color: rgb(18, 17, 17);
    color: aliceblue;
    position: sticky;
    top:0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
}
.topLeft{
    flex: 3;
    align-items: center;
justify-content: center;
}


.topCenter{
    flex:3;

    align-items: center;
background-color: rgb(20, 26, 36);
}
.topRight{
    flex: 3;
    align-items: center;
    justify-content: center;
}

.topIcon{
    font-size: 25px;
    margin-right: 20px;
    color:blanchedalmond;
    cursor:pointer;
}
.topRightIcon{
    font-size: 25px;
    margin-left: 50px;
    margin-right: 15px;
    color:blanchedalmond;
    cursor:pointer;
}
.topList{
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.topImage{
    width: 40px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}